/*CSS Document*/
body {
  background-color: #a0caec;
}

img {
  width: 200px;
}

.principal {
  width: 100%;
}

.productos {
  width: 100%;
}

#ul {
  font-family: "Times New Roman", Times, serif;
  font-size: 16pt;
  list-style: none;
  display: flex;
  flex-direction: row;
  float: right;
  color: navy;
}

.lista {
  padding: 20px;
}

.red {
  display: inline-block;
  width: 70px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  color: orange;
}

a:visited {
  color: darkblue;
}

.brad {
  font-family: Bradley Hand ITC;
  font-weight: bold;
  color: #696969;
}

.cuentas {
  color: white;
  background-color: darkblue;
  text-align: center;
}

#division {
  background-color: white;
  width: 101%;
  height: auto;
  margin-left: -10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.texto_imagen {
  background-color: #a0caec;
  width: 1000px;
  text-align: center;
}

h2 {
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 20pt;
  color: #f60;
  font-weight: bold;
}
.minis_img {
  width: 500px;
  height: 350px;
}
.texto_productos {
  text-align: justify;
  margin: 25px;
}
.negrita {
  font-weight: bold;
}

.contenedor {
  background-color: #7badd6;
  margin: 30px 50px;
  border-radius: 30px;
  padding: 20px;
}

.titulo_noticia {
  text-align: center;
  font-size: 35px;
}

.contenido_noticia {
  display: flex;
  align-content: center;
}

.img_noticia {
    margin: 10px;

}

.info_noticia {
  display: flex;
  align-self: center;
  margin: 20px;
  font-size: 20px;
}
